
html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: #544837;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2F281E;
}

p {
  font-size: 16px;
}
h1 {
  font-weight: 700;
  font-size: 44px;
  
}
h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3{
  font-size: 36px;
}
h4{
  font-size: 22px;
}

.button {
  padding: 13px 26px;
  font-size: 16px;
  border-radius: 4px;
  background: none;
  border: 1px solid #BCD0E5;
}
.button:hover {
  background: #FF9900;
  border: 1px solid #FF9900;
  color: #fff;
}
.up{
  background-color: #FF9900;
  color: #fff;
  border: 1px solid #FF9900;
}

.up:hover{
  background-color: #fff;
  color: #FF9900;
  border: 1px solid #BCD0E5;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/*======================= burger ===========================*/
#box_menu{
  display: none;
  
}
.burger img {
  /* background: #5373fd; */
  /* background-image: url(./img/img/burger.png); */
  height: 50px;
  width: 50px;
  z-index: 6;
  position: relative;
  top: -20px;
}

a{  
  color: #fff;
}

#burger,
[for="burger"] {
  display: none;
}

.header-list__item{
  /* background-color: #625e77; */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px;
}

.header-list__item:hover{
  /* background-color: #625e77; */
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 993px) {
  #header-list{
    display: none;
  }
  #box_menu{
    display: block;
    
  }
  .header .container {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  .burger-icon {
    background-image: url(./img/header/burger.png);
    width: 50px;
    height: 50px;
    z-index: 50;
  }
  .header .button {
    display: none;
  }
  .header .container {
    display: flex;
    flex-direction: column;
  }
  [for="burger"] {
    display: block;
    position: fixed;
    width: 30px;
    text-align: center;
    right: 20px;
    top: 45px;
    z-index: 6;
  }
  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    background: #000;
    width: 100%;
    opacity: 0.7;
    /* // height: 100%; */
  }
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  
  li {
    margin: 10px 0 !important;
  }
  #burger:checked + label + nav {
    display: block;
    -webkit-animation: show .5s ease;
    animation: show .5s ease;
    z-index: 5;
    transition: all 1s;
  }
 
  @-webkit-keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  #burger:checked + label img {
    /* background-image: url(./img/img/burger.png); */
    height: 50px;
    width: 50px;
    z-index: 6;
  }
}
/*========================= burger media =========================*/

@media (min-width: 800px) and (max-width: 1210px) {
  .header .container {
    max-width: 750px;
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 601px) and (max-width: 799px) {
  .header .container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  .header .container {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 1000px) {
 
}
/*======================== header ====================================*/
.header{
  margin-top: 25px;
}


.logo{
  height: 32px;
  width: 200px;
  margin-top: 12px;
}

.header .nav-link{
  color: #2F281E;
}

.header .active, .header .nav-link:hover{ 
  color: #FF9900;
}

.button-box{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .button{
  margin-bottom: 20px;
}
.header .button:nth-child(2){
  margin-left: 32px;
}
.navbar{
  display: flex;
}

/*========================= hero ====================================*/
.hero{
  padding: 70px 0 100px;

}

.hero-text{
  max-width: 500px;
}

.hero p{
  margin-bottom: 20px;
}

h1{
  margin: 97px 0 30px;
}

.hero-image{
  width: 644px;
  height: 495px;
}

.image-for-hero{
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .hero-text {
    margin: auto;
  }
}

@media (min-width: 400px) and (max-width: 675px) {
  .hero-image {
    width: 500px;
    margin: auto;
  }
}

/*=========================== design =======================*/

.design{
  background-image: url(./img/bg-design.png);
  background-size: cover;
  /* background-size: contain; */
  /* background-size: 1200px; */
  /* max-width: 1440px;
  height: 550px;/*550px */
  /* border-radius: 100%; */
}

.design-title{
  max-width: 539px;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.design-list__item{
  text-align: left;
  max-width: 270px;
  margin: auto;
}

.design-list__item h4{
  margin-top: 30px;
  margin-bottom: 16px;
}

.icon{
  width: 50px;
  height: 50px;
}
.design .button-box{
  display: flex;
  justify-content: center;
  margin: 70px 0 75px;
}
.subtitle{
  font-weight: 700;
  margin: 40px 0 10px;
}

/*============================== professionals ========================*/



.prof-image{
  width: 562px;
  height: 573px;
}


@media (min-width: 200px) and (max-width: 490px) {
  .professional .prof-image{
    width: 250px;
  }
}
/*=========================== product =======================*/

.product .row .text{
margin-top: 48px;
}

.product-image{
  width: 570px;
  height: 520px;
}

.product-list__item{
  display: flex;
}

.tick-white{
  width: 17px;
  height: 12px;
}

.tick{
  padding: 5px 8px;
  background-color: #FF9900;
  border-radius: 10px;
  margin-right: 30px;
  height: 35px;
  width: 35px;
}
@media (min-width: 200px) and (max-width: 490px) {
  .product .product-image{
    width: 250px;
  }
}

@media (min-width: 200px) and (max-width: 490px) {
  .marketers .prof-image{
    width: 250px;
  }
}
/*=========================== marketers ========================*/
.marketers{
  padding-bottom: 100px;
}

/*========================== footer ============================*/
.footer{
  padding: 70px 0;
}


.footer .subtitle{
  margin-top: 0;
  margin-bottom: 30px;
}

ul {
  padding-left: 0;
}

.listOfLinks__item{
  margin-bottom: 15px;
}

.footer a {
  color: #2F281E;
}

.footer .button{
  margin-top: 25px;
  font-weight: 700;
}

#phone{
  font-size: 16px;
  width: 340px;
  padding: 15px 0px 15px 10px;
}

@media (min-width: 200px) and (max-width: 768px) {
  .footer .subtitle{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 200px) and (max-width: 420px) {
  #phone{
    width: 250px;
  }
}



